{%extends 'base.html'%}
<html>
<head>
    {%block head%}
    <title>profile</title>
    {%endblock%}
</head>
<body>
{%block body%}
<div class="container">
    <h1>Profile</h1>
    <br>
    <h4>Username : {{user}}</h4>
    <h4>First Name : {{user.first_name}}</h4>
    <h4>Last Name : {{user.last_name}}</h4>
    <h4>Email : {{user.email}}</h4>
    <h4>Description : {{user.userprofile.description}}</h4>
    <h4>City : {{user.userprofile.city}}</h4>
    <h4>Website : {{user.userprofile.website}}</h4>
    <h4>Phone : {{user.userprofile.phone}}</h4>
    <br>
    <h4><a href="{% url 'accounts:edit_profile'%}">Edit</a></h4>
    <br>
    <h4><a href="{% url 'accounts:delete_profile'%}">Delete</a></h4>

</div>
{%endblock%}
</body>
</html>