{% extends 'base.html' %}
{% block head%}

<title>Home</title>

{% endblock%}

{% block body%}

<div class="container">
    <h1>Userprofiles</h1>
    <br>
    <table class="table">
            <thead>
                <th>Id</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Description</th>
                <th>City</th>
                <th>Website</th>
                <th>Phone</th>
            </thead>
            {% for each in user_list%}
            <tr>
                <td>{{each.user.id}}</td>
                <td>{{each.user.username}}</td>
                <td>{{each.user.first_name}}</td>
                <td>{{each.user.last_name}}</td>
                <td>{{each.user.email}}</td>
                <td>{{each.description}}</td>
                <td>{{each.city}}</td>
                <td>{{each.website}}</td>
                <td>{{each.phone}}</td>
            </tr>
            {% endfor %}
        </table>
</div>

{% endblock%}